#content {
    margin: 0 auto;
    width: 900px;
}

p {
    font-family: 'Georgia', serif;
    font-size: 13px;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
}

#byline {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-style: italic;
    }

blockquote {
    font: 16px/24px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
}

img {
    margin: auto;
    width: 60%;
    display: block;
}

.caption {
    font-family: 'Helvetica', sans-serif;
    color: gray;
    font-size: 12px;
    font-style: italic;
}