/* Styles for my resume */

#content {
    margin: 0 auto;
    width: 100%;
}

.navbar {
    box-align: center;
}


footer {
    text-align: center;
    font:20px 'Nanum Myeongjo', serif;
    color:#FFC008;

}


h1 {
    text-transform: uppercase;
    color: black;
    text-align:center;
    font:32px 'Josefin Sans', sans-serif;
}

.text-center {
    background-color: #0C033E;
}

.navbar-brand, .nav-link {
    font:20px 'Nanum Myeongjo', serif;

}


.display-5, .lead, .mb-4 {
    font: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    color:#FFC008;
}


/* Title of each job experience */
.jobtitle {
   font-weight: 600;
   font-size: 1.5em; 
}

/* Company name, changed font size*/
.organization {
    font-weight: 400;
    font-size: 1.25em;
}

/* Years worked */
.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
}



