h1 {
    font-family:'Open Sans';
    color: #33485e;
    font-weight: 400;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #33485e;
    color: white;
    font-weight: 400;
}
p {
    font-family:'Open Sans';
    color: #444;
    font-weight: 400;
    font-size: 1em;
}

li {
    font-family:'Open Sans';
    color: #444;
    font-weight: 400;
    font-size: 1em;
}

