/* Styles for my resume */

/* Font style for all body text */
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* Container div */
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Header with name */
#name {
   font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* Title */
#title {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #33485e;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px 0px;
}

/* Headers for each section, i.e. Experience, Education, Skills */
.sectionheader {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin: 20px 0px 10px;
    width: 70%;
    min-width: 300px;
}

/* Title of each job experience */
.jobtitle {
   font-weight: 600;
   font-size: 1.5em; 
}

/* Company name, changed font size*/
.organization {
    font-weight: 400;
    font-size: 1.25em;
}

/* Years worked */
.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
}

/* What used to be all <p> elements, now class by the name of description */
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Contact info, i.e. email, linkedin, twitter */
.menu {
    font-weight: 400;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* made the list horizontal instead of stacked */
.menu li {
    display: inline;
}

/* Education List */
#degrees {
    margin: 5px 0px 0px;
}

/* Skills list */
#do {
    margin: 5px 0px 0px;
}

/* for mission statement*/
.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}



