p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

#content {
    margin: 0 auto;
    width: 900px;
}

#byline {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    font-style: italic;
}



h1 {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
}

.subhead {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

.caption {
    font-style: italic;
    color: #333333;
}