/* <p> style (for main story text) */
p {
    font: 16px "Helvetica", "Arial", sans-serif;
}

/* center all content on the page */
#content {
    margin: 0 auto;
    width: 900px;
}

/* hed, dek, byline styles */
#byline {
    font: 18px 'Poppins', sans-serif;
    text-align:center;
}

#dek {
    font: 24px 'EB Garamond', serif;
    font-style:italic;
    text-align:center;
}

#headline {
    font: 65px 'EB Garamond', serif;
    text-align: center;
}

/* Center text for related items and links, styles for links */
#relateditems {
    margin-top: 20px;
    text-align: center;
}

#relatedlinks{
    text-align: center;
    font: 25px 'EB Garamond', serif;
    padding-bottom: 50px;
}

/* Blockquotes, made them blue and made font bigger */
blockquote {
    font: 32px 'EB Garamond', serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: darkblue;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
}

/* Subheadings and related items font */
.subhead, #relateditems {
    font: 40px 'EB Garamond', serif;
}

/* Styles for captions and credits */
.caption {
    font-style: italic;
    color: black;
    font: 13px 'Poppins', sans-serif;
    padding-top: 10px;
}