p {
    font: 16px "Helvetica", "Arial", sans-serif;
}

#content {
    margin: 0 auto;
    width: 900px;
}

#byline {
    font: 18px 'Poppins', sans-serif;
    text-align:center;
}

#dek {
    font: 24px 'EB Garamond', serif;
    font-style:italic;
    text-align:center;
}


#relateditems {
    margin-top: 20px;
    font: 40px 'EB Garamond', serif;
    text-align: center;
}

#relatedlinks{
    text-align: center;
    font: 25px 'EB Garamond', serif;
    padding-bottom: 50px;
}

blockquote {
    font: 32px 'EB Garamond', serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: darkblue;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
}

#headline {
    font: 65px 'EB Garamond', serif;
    text-align: center;
}

.subhead {
    font: 40px 'EB Garamond', serif;
}

.caption {
    font-style: italic;
    color: black;
    font: 13px 'Poppins', sans-serif;
    padding-top: 10px;
}